app-hl-table{
  .img-table-cell {
    width: 200px;
  }

  td input.form-control {
    // TODO: 100% it but not moving the td ?
    //width: 100%;
  }

  .create-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  div.row {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  th {
    font-weight: 400;
  }

  tbody tr {
    cursor: pointer;
  }

  tbody tr:nth-child(1) {
    cursor: default;
  }
}
