<div class="row" *ngIf="allowCreation">
  <div class="col-12 col-sm-12">
    <button class="btn btn-primary float-right" (click)="onClickedCreateButton()">
      <i class="fa fa-plus"></i>
      <span style="padding-left: 5px;">{{ 'create' | translate }}</span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <input *ngIf="config.filtering" placeholder="{{ 'filterByAll' | translate }}"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div><br>

<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>

<pagination *ngIf="config.paging"
            class="pagination"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event"
            firstText="{{ 'first' | translate }}"
            previousText="{{ 'previous' | translate }}"
            nextText="{{ 'next' | translate }}"
            lastText="{{ 'last' | translate }}"
>
</pagination>
