.container-404 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-404 {
    font-size: 100px;
  }

  .message-404 {
    font-size: x-large;

    .missing-ingredient {
      font-weight: 400;
    }
  }
}
