<div class="container-404">
  <div>
    <div class="header-404">404.</div>
    <div class="message-404">
      <span>{{ 'weCannotFind' | translate }}</span>
      <span [style.color]="missingIngredientColor" class="missing-ingredient"> {{ 'cake' | translate }} </span>
      <!--<span>{{ 'fullStop' | translate }}</span>-->
    </div>
    <div></div>
  </div>
</div>
