.my-brand {
  letter-spacing: 0.5px;
  font-weight: 300;
}

.picked-lang {
  font-weight: 500;
}

.other-lang {
  color: #888888;
}

li.nav-item.active {
  font-weight: 400;
}

.lang-toggle {
  cursor: pointer;
}
