<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleMenu()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand my-brand" routerLink="home" *ngIf="isLogggedIn()" >Project Bake</a>
  <a class="navbar-brand my-brand" *ngIf="!isLogggedIn()" >Project Bake</a>

  <div class="collapse navbar-collapse" [ngClass]="{ show: menuOpened }">
    <!-- NAV BAR ITEMS ON LEFT -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isLogggedIn()">
        <a class="nav-link" routerLink="recipes">{{ 'recipes' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLogggedIn()">
        <a class="nav-link" routerLink="devices">{{ 'devices' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLogggedIn()">
        <a class="nav-link" routerLink="dummy">Dummy Link</a>
      </li>
    </ul>

    <!-- NAV BAR ITEMS ON RIGHT -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item lang-toggle" routerLinkActive="active">
        <a class="nav-link" (click)="toggleLang()">
          <span [ngClass]="{ 'picked-lang': isChinese(), 'other-lang': !isChinese() }">中</span>
          <span>/</span>
          <span [ngClass]="{ 'picked-lang': !isChinese(), 'other-lang': isChinese() }">Eng</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLogggedIn()">
        <a class="nav-link" routerLink="login">{{ 'login' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLogggedIn()">
        <a class="nav-link" (click)="onLogout()">{{ 'logout' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
