
<!-- ACTION BUTTONS -->
<div class="row">
  <div class="col-12 col-sm-12 action-buttons">
    <button
      *ngIf="isAbleToEdit()"
      (click)="onEdit()"
      class="action-button float-right btn btn-primary"
    >{{ 'edit' | translate }}</button>
    <button
      *ngIf="isAbleToActivate()"
      (click)="onActivate()"
      class="action-button float-right btn btn-outline-info"
    >{{ 'activate' | translate }}</button>
    <button
      *ngIf="isAbleToSuspend()"
      (click)="onSuspend()"
      class="action-button float-right btn btn-outline-danger"
    >{{ 'suspend' | translate }}</button>
    <button
      *ngIf="isAbleToDelete()"
      (click)="onDelete()"
      class="action-button float-right btn btn-danger"
    >{{ 'delete' | translate }}</button>
  </div>
</div>

<!-- WRAPPER FOR IMAGE MODAL -->
<div *ngIf="showImageModal">
  <modal-gallery
    [modalImages]="images"
    [imagePointer]="imagePointer"
    [description]="{ customFullDescription: ' ' }"
    [downloadable]="false"
    [showExtUrlButton]="false"
    [enableCloseOutside]="true"
    (close)="onCloseImageModal($event)"
  ></modal-gallery>
</div>

<!-- MAIN RECIPE PAGE -->
<div class="row">
  <!-- RECIPE DETAIL PART-->
  <div class="col-12 col-sm-12 col-md-7 col-lg-8 recipe-detail">

    <tabset>
      <tab heading="{{ 'english' | translate }}" id="english" customClass="test">
        <!-- SPACE ABOVE -->
        <div style="height: 20px"></div>

        <!-- TITLE -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'title' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.title }}</div>
        </div>

        <!-- DESC -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'desc' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.desc }}</div>
        </div>

        <!-- TAGS -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'tags' | translate }}</div>
          <div class="recipe-section-body">
            <ul>
              <li *ngFor="let tag of recipe?.tags">{{ tag }}</li>
            </ul>
          </div>
        </div>

        <!-- SIZE -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'size' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.size }}</div>
        </div>

        <!-- PARTS -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'parts' | translate }}</div>

          <div class="recipe-section-body" *ngFor="let part of recipe?.parts">
            <div class="recipe-section-sub-section">
              <!-- PART TITLE-->
              <div class="recipe-section-sub-header">
                <span class="recipe-section-sub-header-title">{{ part.title }}</span>
                <span class="recipe-section-sub-header-note float-right" *ngIf="part.desc"> ({{ part.desc }})</span>
              </div>

              <!-- PART DETAIL -->
              <div class="row recipe-section-sub-body">
                <!-- INGREDIENTS OF EACH PART -->
                <div class="col-12 col-sm-12 col-md-4">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="ingredient-step-tag">{{ 'ingredients' | translate }} :</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 ingredient-step-line"
                         *ngFor="let ingredient of part.ingredients">
                      <span>{{ ingredient.quantity }}</span>
                      <span *ngIf="ingredient.unit !== ''">{{ ingredient.unit }}</span>
                      <span>{{ ingredient.name }}</span>
                    </div>
                  </div>
                </div>

                <!-- STEPS OF EACH PART -->
                <div class="col-12 col-sm-12 col-md-8">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="ingredient-step-tag">{{ 'steps' | translate }} :</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 ingredient-step-line">
                      <div class="row"
                           *ngFor="let step of part.steps">
                        <div class="col-10 col-sm-9 col-md-8 col-lg-9 col-xl-9">{{ step.line }}</div>
                        <div class="col-2 col-sm-3 col-md-4 col-lg-3 col-xl-3">
                          <div *ngIf="step.autoNextStep" class="step-timer">
                            <i class="fa fa-clock-o"></i>
                            <span>{{ step.duration }} {{ 'sec' | translate }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'chinese' | translate }}" id="chinese">
        <!-- SPACE ABOVE -->
        <div style="height: 20px"></div>

        <!-- TITLE -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'title' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.title_zh }}</div>
        </div>

        <!-- DESC -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'desc' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.desc_zh }}</div>
        </div>

        <!-- TAGS -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'tags' | translate }}</div>
          <div class="recipe-section-body">
            <ul>
              <li *ngFor="let tag of recipe?.tags">{{ tag }}</li>
            </ul>
          </div>
        </div>

        <!-- SIZE -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'size' | translate }}</div>
          <div class="recipe-section-body">{{ recipe?.size_zh }}</div>
        </div>

        <!-- PARTS -->
        <div class="recipe-section">
          <div class="recipe-section-header">{{ 'parts' | translate }}</div>

          <div class="recipe-section-body" *ngFor="let part of recipe?.parts_zh">
            <div class="recipe-section-sub-section">

              <!-- PART TITLE-->
              <div class="recipe-section-sub-header">
                <span class="recipe-section-sub-header-title">{{ part.title }}</span>
                <span class="recipe-section-sub-header-note float-right" *ngIf="part.desc"> ({{ part.desc }})</span>
              </div>

              <!-- PART DETAIL -->
              <div class="row recipe-section-sub-body">

                <!-- INGREDIENTS OF EACH PART -->
                <div class="col-12 col-sm-12 col-md-4">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="ingredient-step-tag">{{ 'ingredients' | translate }} :</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 ingredient-step-line"
                         *ngFor="let ingredient of part.ingredients">
                      <span>{{ ingredient.quantity }}</span>
                      <span *ngIf="ingredient.unit !== ''">{{ ingredient.unit }}</span>
                      <span>{{ ingredient.name }}</span>
                    </div>
                  </div>
                </div>

                <!-- STEPS OF EACH PART -->
                <div class="col-12 col-sm-12 col-md-8">
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <span class="ingredient-step-tag">{{ 'steps' | translate }} :</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 ingredient-step-line">
                      <div class="row"
                           *ngFor="let step of part.steps">
                        <div class="col-10 col-sm-9 col-md-8 col-lg-9 col-xl-9">{{ step.line }}</div>
                        <div class="col-2 col-sm-3 col-md-4 col-lg-3 col-xl-3">
                          <div *ngIf="step.autoNextStep" class="step-timer">
                            <i class="fa fa-clock-o"></i>
                            <span>{{ step.duration }} {{ 'sec' | translate }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>


  </div>

  <!-- PHOTO GALLERY -->
  <div class="col-12 col-sm-12 col-md-5 col-lg-4 recipe-photos">
    <!-- BIG THUMBNAIL -->
    <div class="row">
      <div class="col-12 col-sm-12 recipe-thumbnail-container">
        <!--<div appSquare class="recipe-thumbnail-outer">-->
          <!--<div [ngStyle]="{ 'background-image': 'url(' + recipe?.thumbnail.imageUrl+ ')' }"-->
               <!--class="recipe-thumbnail-inner"></div>-->
        <!--</div>-->
        <img class="img-fluid img-thumbnail recipe-thumbnail" [src]="recipe?.thumbnail.imageUrl">
      </div>
    </div>

    <!-- ALL PHOTOS -->
    <div class="row" *ngIf="recipe?.images.length > 0">
      <div class="col-12 col-sm-12 recipe-photos-container">
        <div class="row">
          <div
            class="col-3 col-sm-3 recipe-photo-container"
            *ngFor="let image of recipe?.images; let imageIndex = index"
          >
            <div appSquare class="recipe-photo-outer">
              <div [ngStyle]="{ 'background-image': 'url(' + image.imageUrl + ')' }"
                   class="recipe-photo-inner"
                   (click)="onClickImage(imageIndex)"
              ></div>
            </div>
            <!--<img class="img-fluid img-thumbnail recipe-photo" [src]="image.imageUrl">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
