.action-buttons {
  margin-bottom: 20px;
  .action-button {
    margin-left: 10px;
    font-weight: 100;
  }
}

.recipe-detail {
  .recipe-section {
    margin-bottom: 30px;
  }
  .recipe-section-header {
    position: relative;
    padding: 0 20px;
    font-size: x-large;
    font-weight: 400;
  }
  .recipe-section-header:before {
    background: #eee;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
  .recipe-section-body {
    padding: 5px 10px;
    text-align: justify;

    .recipe-section-sub-section {
      .recipe-section-sub-header {
        margin-bottom: 10px;

        .recipe-section-sub-header-title {
          font-size: larger;
          padding: 2px 10px;
          border-bottom: 1px solid #eee;
        }
        .recipe-section-sub-header-note {
          color: #bbb;
          font-style: italic;
          font-size: medium;
        }
      }
      .recipe-section-sub-body {
        .ingredient-step-tag {
          font-weight: normal;
        }
        .ingredient-step-line {
          padding-left: 30px;
        }
      }
    }
  }

  .step-timer {
    text-align: right;
    color: dodgerblue;
  }
}

.recipe-photos {
  .recipe-thumbnail-container {
    margin-bottom: 15px;

    .recipe-thumbnail { // FOR <img>
      width: 100%;
    }

    .recipe-thumbnail-outer { // FOR <div> with bg img
      padding: 0.25rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out;
      max-width: 100%;

      .recipe-thumbnail-inner{
        height: 100%;
        background: no-repeat center;
        background-size: cover;
      }
    }
  }
  .recipe-photos-container {

    padding: 0px 25px;

    .recipe-photo-container {
      padding: 5px;

      .recipe-photo-outer {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;
        max-width: 100%;

        .recipe-photo-inner {
          height: 100%;
          background: no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}
