<form [formGroup]="editForm" (ngSubmit)="onCompleteForm()">

  <!-- ACTION BUTTONS -->
  <div class="row">
    <div class="col-12 col-sm-12 action-buttons">
      <button
        type="submit"
        class="action-button float-right btn btn-primary"
        [disabled]="!isValidForm()"
      >{{ 'complete' | translate }}</button>
      <button
        type="button"
        (click)="onCancelForm()"
        class="action-button float-right btn btn-danger"
      >{{ 'cancel' | translate }}</button>
    </div>
  </div>

  <!-- MAIN RECIPE PAGE -->
  <div class="row">
    <!-- RECIPE DETAIL PART-->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 recipe-detail">

      <tabset>
        <tab heading="{{ 'english' | translate }}" id="english" (select)="onChangeLanguageTab('english')">
          <!-- SPACE ABOVE -->
          <div style="height: 20px"></div>

          <!-- TITLE -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'title' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'title' | translate }}"
                formControlName="title"
              >
            </div>
          </div>

          <!-- DESC -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'desc' | translate }}</div>
            <div class="recipe-section-body">
          <textarea
            class="form-control"
            rows="10"
            placeholder="{{ 'desc' | translate }}"
            formControlName="desc"
          ></textarea>
            </div>
          </div>

          <!-- TAGS -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'tags' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'tags' | translate }}"
                [(ngModel)]="tags"
                [ngModelOptions]="{standalone: true}"
              >
            </div>
          </div>

          <!-- SIZE -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'size' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'size' | translate }}"
                formControlName="size"
              >
            </div>
          </div>

          <!-- PARTS -->
          <div class="recipe-section" formArrayName="parts">
            <div class="recipe-section-header-pos">
              <div class="row">
                <div class="col-8 col-sm-8 recipe-section-header-font">{{ 'parts' | translate }}</div>

                <div class="col-4 col-sm-4 add-button">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="onAddPart()"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="recipe-section-body"
                 *ngFor="let partControl of getFormArrayControls(editForm, 'parts'); let partIndex = index;"
                 [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('part', partIndex) }">
              <div class="recipe-section-sub-section"
                   [formGroupName]="partIndex">
                <!-- PART TITLE-->
                <div class="row recipe-section-sub-header">
                  <div class="col-4 col-sm-4">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="{{ 'title' | translate }}"
                      formControlName="title"
                    >
                  </div>
                  <div class="col-7 col-sm-7">
                    <input
                      class="form-control recipe-section-sub-header-note"
                      type="text"
                      placeholder="{{ 'desc' | translate }}"
                      formControlName="desc"
                    >
                  </div>
                  <div class="col-1 col-sm-1 add-button">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      (click)="onRemovePart(partIndex)"
                      (mouseover)="onMouseOverRemoveButton('part', partIndex)"
                      (mouseout)="onMouseOutRemoveButton()"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- PART DETAIL -->
                <div class="row recipe-section-sub-body">
                  <!-- INGREDIENTS OF EACH PART -->
                  <div class="col-12 col-sm-12" formArrayName="ingredients">
                    <!-- INGREDIENT TAG WITH ADD BUTTON -->
                    <div class="row">
                      <div class="col-8 col-sm-8">
                        <div class="ingredient-tag">{{ 'ingredients' | translate }} :</div>
                      </div>
                      <div class="col-4 col-sm-4 add-button">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-primary"
                          (click)="onAddIngredient(partIndex)"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>

                    <!-- EACH LINE OF INGREDIENT -->
                    <div class="row">
                      <!-- INGREDIENT COLUMN NAMES-->
                      <div class="col-12 col-sm-12 ingredient-step-line">
                        <div class="row steps-line">
                          <div class="col-3 col-sm-3 col- step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-quantity' | translate }}" >
                          </div>
                          <div class="col-3 col-sm-3  step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-unit' | translate }}">
                          </div>
                          <div class="col-5 col-sm-5 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-name' | translate }}">
                          </div>
                        </div>
                      </div>

                      <!-- INGREDIENT DATA -->
                      <div class="col-12 col-sm-12 ingredient-step-line"
                           *ngFor="let ingredientControl of getFormArrayControls(partControl, 'ingredients'); let ingredientIndex = index;"
                           [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('ingredient', partIndex, ingredientIndex, null) }">
                        <div class="row ingredients-line" [formGroupName]="ingredientIndex">
                          <div class="col-3 col-sm-3 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="quantity"
                            >
                          </div>
                          <div class="col-3 col-sm-3 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="unit"
                            >
                          </div>
                          <div class="col-5 col-sm-5 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="name"
                            >
                          </div>
                          <div class="col-1 col-sm-1 ingredient-line add-button">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger"
                              (click)="onRemoveIngredient(partIndex, ingredientIndex)"
                              (mouseover)="onMouseOverRemoveButton('ingredient', partIndex, ingredientIndex, null)"
                              (mouseout)="onMouseOutRemoveButton()"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- STEPS OF EACH PART -->
                  <div class="col-12 col-sm-12" formArrayName="steps">
                    <!-- STEPS TAG WITH ADD BUTTON -->
                    <div class="row">
                      <div class="col-8 col-sm-8">
                        <div class="ingredient-tag">{{ 'steps' | translate }} :</div>
                      </div>
                      <div class="col-4 col-sm-4 add-button">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-primary"
                          (click)="onAddStep(partIndex)"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>

                    <!-- EACH LINE OF STEP -->
                    <div class="row">
                      <!-- STEP COLUMN NAMES-->
                      <div class="col-12 col-sm-12 ingredient-step-line">
                        <div class="row steps-line">
                          <div class="col-6 col-sm-6 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'step-line' | translate }}" >
                          </div>
                          <div class="col-3 col-sm-3  step-line">
                            <input class="form-control ingredient-step-column-name auto-next-step-column"
                                   readonly value="{{ 'step-autoNextStep' | translate }}">
                          </div>
                          <div class="col-2 col-sm-2 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'step-duration' | translate }}">
                          </div>
                        </div>
                      </div>

                      <!-- STEP DATA -->
                      <div class="col-12 col-sm-12 ingredient-step-line"
                           *ngFor="let stepControl of getFormArrayControls(partControl, 'steps'); let stepIndex = index;"
                           [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('step', partIndex, null, stepIndex) }">
                        <div class="row steps-line" [formGroupName]="stepIndex">
                          <div class="col-6 col-sm-6 step-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="line"
                            >
                          </div>
                          <div class="col-3 col-sm-3  step-line auto-next-step-column">
                            <button
                              type="button"
                              class="btn btn-outline-primary auto-next-step-button"
                              btnCheckbox
                              [btnCheckboxTrue]="true"
                              [btnCheckboxFalse]="false"
                              formControlName="autoNextStep"
                              (click)="onChangeAutoNextStep(partIndex, stepIndex)"
                            >{{ (editForm.value.parts[partIndex].steps[stepIndex].autoNextStep ? 'yes' : 'no') | translate }}</button>
                          </div>
                          <div class="col-2 col-sm-2 step-line">
                            <input
                              class="form-control"
                              type="number"
                              formControlName="duration"
                              (change)="onChangeDuration(partIndex, stepIndex)"
                            >
                          </div>
                          <div class="col-1 col-sm-1 step-line add-button">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger"
                              (click)="onRemoveStep(partIndex, stepIndex)"
                              (mouseover)="onMouseOverRemoveButton('step', partIndex, null, stepIndex)"
                              (mouseout)="onMouseOutRemoveButton()"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </tab>

        <tab heading="{{ 'chinese' | translate }}" id="chinese" (select)="onChangeLanguageTab('chinese')">
          <!-- SPACE ABOVE -->
          <div style="height: 20px"></div>

          <!-- TITLE -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'title' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'title' | translate }}"
                formControlName="title_zh"
              >
            </div>
          </div>

          <!-- DESC -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'desc' | translate }}</div>
            <div class="recipe-section-body">
          <textarea
            class="form-control"
            rows="10"
            placeholder="{{ 'desc' | translate }}"
            formControlName="desc_zh"
          ></textarea>
            </div>
          </div>

          <!-- TAGS -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'tags' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'tags' | translate }}"
                [(ngModel)]="tags"
                [ngModelOptions]="{standalone: true}"
              >
            </div>
          </div>

          <!-- SIZE -->
          <div class="recipe-section">
            <div class="recipe-section-header-pos recipe-section-header-font">{{ 'size' | translate }}</div>
            <div class="recipe-section-body">
              <input
                class="form-control"
                type="text"
                placeholder="{{ 'size' | translate }}"
                formControlName="size_zh"
              >
            </div>
          </div>

          <!-- PARTS -->
          <div class="recipe-section" formArrayName="parts_zh">
            <div class="recipe-section-header-pos">
              <div class="row">
                <div class="col-8 col-sm-8 recipe-section-header-font">{{ 'parts' | translate }}</div>

                <div class="col-4 col-sm-4 add-button">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="onAddPart()"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="recipe-section-body"
                 *ngFor="let partControl of getFormArrayControls(editForm, 'parts_zh'); let partIndex = index;"
                 [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('part', partIndex) }">
              <div class="recipe-section-sub-section"
                   [formGroupName]="partIndex">
                <!-- PART TITLE-->
                <div class="row recipe-section-sub-header">
                  <div class="col-4 col-sm-4">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="{{ 'title' | translate }}"
                      formControlName="title"
                    >
                  </div>
                  <div class="col-7 col-sm-7">
                    <input
                      class="form-control recipe-section-sub-header-note"
                      type="text"
                      placeholder="{{ 'desc' | translate }}"
                      formControlName="desc"
                    >
                  </div>
                  <div class="col-1 col-sm-1 add-button">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      (click)="onRemovePart(partIndex)"
                      (mouseover)="onMouseOverRemoveButton('part', partIndex)"
                      (mouseout)="onMouseOutRemoveButton()"
                    >
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>

                <!-- PART DETAIL -->
                <div class="row recipe-section-sub-body">
                  <!-- INGREDIENTS OF EACH PART -->
                  <div class="col-12 col-sm-12" formArrayName="ingredients">
                    <!-- INGREDIENT TAG WITH ADD BUTTON -->
                    <div class="row">
                      <div class="col-8 col-sm-8">
                        <div class="ingredient-tag">{{ 'ingredients' | translate }} :</div>
                      </div>
                      <div class="col-4 col-sm-4 add-button">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-primary"
                          (click)="onAddIngredient(partIndex)"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>

                    <!-- EACH LINE OF INGREDIENT -->
                    <div class="row">
                      <!-- INGREDIENT COLUMN NAMES-->
                      <div class="col-12 col-sm-12 ingredient-step-line">
                        <div class="row steps-line">
                          <div class="col-3 col-sm-3 col- step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-quantity' | translate }}" >
                          </div>
                          <div class="col-3 col-sm-3  step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-unit' | translate }}">
                          </div>
                          <div class="col-5 col-sm-5 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'ingredient-name' | translate }}">
                          </div>
                        </div>
                      </div>

                      <!-- INGREDIENT DATA -->
                      <div class="col-12 col-sm-12 ingredient-step-line"
                           *ngFor="let ingredientControl of getFormArrayControls(partControl, 'ingredients'); let ingredientIndex = index;"
                           [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('ingredient', partIndex, ingredientIndex, null) }">
                        <div class="row ingredients-line" [formGroupName]="ingredientIndex">
                          <div class="col-3 col-sm-3 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="quantity"
                            >
                          </div>
                          <div class="col-3 col-sm-3 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="unit"
                            >
                          </div>
                          <div class="col-5 col-sm-5 ingredient-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="name"
                            >
                          </div>
                          <div class="col-1 col-sm-1 ingredient-line add-button">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger"
                              (click)="onRemoveIngredient(partIndex, ingredientIndex)"
                              (mouseover)="onMouseOverRemoveButton('ingredient', partIndex, ingredientIndex, null)"
                              (mouseout)="onMouseOutRemoveButton()"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- STEPS OF EACH PART -->
                  <div class="col-12 col-sm-12" formArrayName="steps">
                    <!-- STEPS TAG WITH ADD BUTTON -->
                    <div class="row">
                      <div class="col-8 col-sm-8">
                        <div class="ingredient-tag">{{ 'steps' | translate }} :</div>
                      </div>
                      <div class="col-4 col-sm-4 add-button">
                        <button
                          type="button"
                          class="btn btn-sm btn-outline-primary"
                          (click)="onAddStep(partIndex)"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>

                    <!-- EACH LINE OF STEP -->
                    <div class="row">
                      <!-- STEP COLUMN NAMES-->
                      <div class="col-12 col-sm-12 ingredient-step-line">
                        <div class="row steps-line">
                          <div class="col-6 col-sm-6 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'step-line' | translate }}" >
                          </div>
                          <div class="col-3 col-sm-3  step-line">
                            <input class="form-control ingredient-step-column-name auto-next-step-column"
                                   readonly value="{{ 'step-autoNextStep' | translate }}">
                          </div>
                          <div class="col-2 col-sm-2 step-line">
                            <input class="form-control ingredient-step-column-name"
                                   readonly value="{{ 'step-duration' | translate }}">
                          </div>
                        </div>
                      </div>

                      <!-- STEP DATA -->
                      <div class="col-12 col-sm-12 ingredient-step-line"
                           *ngFor="let stepControl of getFormArrayControls(partControl, 'steps'); let stepIndex = index;"
                           [ngClass]="{ 'mouse-over-remove-button': isMouseOverOn('step', partIndex, null, stepIndex) }">
                        <div class="row steps-line" [formGroupName]="stepIndex">
                          <div class="col-6 col-sm-6 step-line">
                            <input
                              class="form-control"
                              type="text"
                              formControlName="line"
                            >
                          </div>
                          <div class="col-3 col-sm-3  step-line auto-next-step-column">
                            <button
                              type="button"
                              class="btn btn-outline-primary auto-next-step-button"
                              btnCheckbox
                              [btnCheckboxTrue]="true"
                              [btnCheckboxFalse]="false"
                              formControlName="autoNextStep"
                              (click)="onChangeAutoNextStep(partIndex, stepIndex)"
                            >{{ (editForm.value.parts_zh[partIndex].steps[stepIndex].autoNextStep ? 'yes' : 'no') | translate }}</button>
                          </div>
                          <div class="col-2 col-sm-2 step-line">
                            <input
                              class="form-control"
                              type="number"
                              formControlName="duration"
                              (change)="onChangeDuration(partIndex, stepIndex)"
                            >
                          </div>
                          <div class="col-1 col-sm-1 step-line add-button">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger"
                              (click)="onRemoveStep(partIndex, stepIndex)"
                              (mouseover)="onMouseOverRemoveButton('step', partIndex, null, stepIndex)"
                              (mouseout)="onMouseOutRemoveButton()"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </tab>
      </tabset>

    </div>

    <!-- PHOTO GALLERY -->
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 recipe-photos">
        <!-- BIG THUMBNAIL -->
        <div class="row">
          <div class="col-12 col-sm-12 recipe-thumbnail-container">
            <div class="image-upload">
              <label *ngIf="!thumbnailSrc" for="thumbnail">
                <div class="image-picker-outer"
                     [ngClass]="{ 'thumbnail-error': thumbnailVisited && thumbnailSrc === null}">
                  <div class="image-picker-inner" appSquare>
                    <i class="fa fa-picture-o picture-icon"></i>
                  </div>
                </div>
              </label>
              <div *ngIf="thumbnailSrc" class="image-preview-outer">
                <div class="cross-button" (click)="onCancelThumbnail()">
                  <i class="fa fa-times-circle-o"></i>
                </div>
                <!--<div class="image-preview-inner" [ngStyle]="{'background-image': 'url('+thumbnailSrc+')'}"></div>-->
                <img class=" img-fluid recipe-thumbnail" [src]="thumbnailSrc">
              </div>
              <input id="thumbnail"
                     type="file"
                     accept="image/*"
                     (change)="onChangeThumbnail($event)"
                     [disabled]="thumbnailSrc" #recipeThumbnail>
            </div>
          </div>
        </div>

        <!-- ALL PHOTOS -->
        <div class="row">
          <div class="col-12 col-sm-12 recipe-photos-container">
            <div class="row">
              <div
                class="col-3 col-sm-3 recipe-photo-container image-upload"
                *ngFor="let image of imagesSrc; let imageIndex = index"
                appSquare
              >
                <div class="image-preview-outer">
                  <div class="cross-button" (click)="onCancelImages(imageIndex)">
                    <i class="fa fa-times-circle-o"></i>
                  </div>
                  <div class="image-preview-inner" [ngStyle]="{'background-image': 'url('+image+')'}"></div>
                </div>
              </div>

              <!-- ONE MORE FOR ADDING NEW IMAGES -->
              <div class="col-3 col-sm-3 recipe-photo-container image-upload"
                   *ngIf="canAddImage()">
                <label for="newImage">
                  <div class="image-picker-outer">
                    <div class="image-picker-inner" appSquare>
                      <i class="fa fa-picture-o picture-icon"></i>
                    </div>
                  </div>
                </label>
                <input type="file"
                       id="newImage"
                       accept="image/*"
                       (change)="onAddImage($event)"
                       #recipeImagesNewImage>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</form>
