input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

.action-buttons {
  margin-bottom: 20px;
  .action-button {
    margin-left: 10px;
    font-weight: 100;
  }
}

.recipe-detail {
  .recipe-section {
    margin-bottom: 30px;

    .add-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mouse-over-remove-button {
      background-color: #eee;
    }
  }
  .recipe-section-header-font {
    font-size: x-large;
    font-weight: 400;
  }
  .recipe-section-header-pos {
    position: relative;
    padding: 0 20px;
  }
  .recipe-section-header-pos:before {
    background: #eee;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
  .recipe-section-body {
    padding: 5px 10px;
    text-align: justify;

    .recipe-section-sub-section {
      .recipe-section-sub-header {
        margin-top: 10px;
        font-weight: normal;

        .recipe-section-sub-header-title {
          font-size: larger;
          padding: 2px 10px;
          border-bottom: 1px solid #eee;
        }
        .recipe-section-sub-header-note {
          font-style: italic;
          font-size: medium;
          text-align: right;
        }
      }
      .recipe-section-sub-body {
        .ingredient-step-line {
          padding-top: 5px;
          padding-bottom: 5px;
          .ingredient-step-column-name {
            background-color: white;
            border: none;
            font-weight: normal;
          }
        }
        .ingredients-line {
          padding: 0px 10px;
          .ingredient-line {
            padding: 0px 5px;
            font-weight: normal;
          }
        }
        .auto-next-step-column {
          text-align: center;
        }
        .steps-line {
          padding: 0px 10px;
          .step-line {
            padding: 0px 5px;
          }
        }
        .ingredient-tag {
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: normal;
        }
        .step-tag {
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: normal;
        }
        .auto-next-step-button {
          font-weight: 100;
        }
      }
    }
  }
}

.recipe-photos {
  .thumbnail-error {
    border: 1px solid red !important;
  }
  .recipe-thumbnail-container {
    margin-bottom: 15px;
    .recipe-thumbnail {
      width: 100%;
    }
  }
  .recipe-photos-container {
    padding: 0px 25px;
    .recipe-photo-container {
      padding: 5px;

      .recipe-photo {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
      }
    }
  }

  div.image-upload {
    label {
      width: 100%;
      .image-picker-outer {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;
        max-width: 100%;
        height: auto;

        .image-picker-inner {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eee;

          i.picture-icon {
            font-size: xx-large;
            color: #666;
          }
        }
      }
    }
    .image-preview-outer {
      position: relative;
      width: 100%;
      height: 100%;

      padding: 0.25rem;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out;
      max-width: 100%;

      .cross-button {
        position: absolute;
        font-size: xx-large;
        color: #d9534f;
        margin: -5px 5px;
      }

      .image-preview-inner {
        height: 100%;
        background: no-repeat center;
        background-size: cover;

        .recipe-thumbnail {
          width: 100%;
        }
      }
    }
    input[type='file'] {
      display: none;
    }
  }
}
