<div class="modal-header">
  <h4 class="modal-title pull-left my-modal-title">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onDismiss.emit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">{{ content }}</div>
<div class="modal-footer">
  <button *ngIf="showConfirm"
          type="button"
          class="btn btn-primary my-modal-button"
          (click)="onConfirm.emit()"
  >{{ confirmText }}</button>
  <button type="button"
          class="btn btn-default my-modal-button"
          (click)="onDismiss.emit()"
  >{{ cancelText }}</button>
</div>
