<div class="row">
  <div class="col-sm-9 ml-auto mr-auto login-form">
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- USERNAME INPUT -->
        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">{{ 'username' | translate }}</label>
          <div class="col-sm-9">
            <input class="form-control"
                   id="username"
                   formControlName="username">
          </div>
        </div>

        <!-- PASSWORD INPUT -->
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">{{ 'password' | translate }}</label>
          <div class="col-sm-9">
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       id="rememberMe"
                       formControlName="rememberMe">
                {{ 'rememberMe' | translate }}
              </label>
            </div>
          </div>

        </div>

        <!-- SUBMIT BUTTON -->
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button
              type="submit"
              class="btn btn-primary login-button"
              [disabled]="!loginForm.valid"
            >{{ 'login' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
