<div class="row">
  <div class="col-12 col-sm-12">
    <app-hl-table [allowCreation]="allowCreateRecipe"
                  (cellClicked)="onCellClick($event)"
                  (onCreate)="onCreate()"></app-hl-table>
  </div>
</div>
