<app-header></app-header>

<br>
<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-12 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
