<ol *ngIf="getBreadcrumbs().length > 0" class="breadcrumb-arrow">
  <li *ngFor="let breadcrumb of breadcrumbs">
    <a [routerLink]="breadcrumb.url">{{ breadcrumb | translateContent: 'title' }}</a>
  </li>
</ol>
