// ref: https://css-tricks.com/triangle-breadcrumbs/

$maxBreadcrumbChild: 5;
$triangle: (
  width: 20px,
  halfHeight: 20px
);
$colors: (
  breadcrumbs-background: #f7f7f7,
  lastText: black,
  text: white,
  baseH: 252,
  baseS: 100%,
  baseL: 50%,
  stepL: 8%
);

@function breadcrumbColor($nthChild) {
  $lightnessStep: map_get($colors, stepL);

  $hue: map_get($colors, baseH);
  $saturation: map_get($colors, baseS);
  $lightness: (map_get($colors, baseL) + $nthChild * $lightnessStep);

  @return hsla($hue, $saturation, $lightness, 1);
}

@function breadcrumbContrast($nthChild) {
  @return breadcrumbColor($nthChild - 2);
}

.breadcrumb-arrow {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  border-radius: 5px;
  background-color: map_get($colors, breadcrumbs-background);
  font-size: small;

  li {
    float: left;

    a {
      color: map_get($colors, text);
      text-decoration: none;
      padding: 0 10px 0 map_get($triangle, width) + 10px;
      background-color: breadcrumbColor(0);
      position: relative;
      display: block;
      float: left;
      height: 2 * map_get($triangle, halfHeight);
      line-height: 2 * map_get($triangle, halfHeight);

      // white triangle before to act as border
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: map_get($triangle, halfHeight) solid transparent;
        border-bottom: map_get($triangle, halfHeight) solid transparent;
        border-left: map_get($triangle, width) solid white;
        position: absolute;
        top: 50%;
        margin-top: - map_get($triangle, halfHeight);
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }

      // colored triangle after to look like a arrow
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: map_get($triangle, halfHeight) solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: map_get($triangle, halfHeight) solid transparent;
        border-left: map_get($triangle, width) solid breadcrumbColor(0);
        position: absolute;
        top: 50%;
        margin-top: - map_get($triangle, halfHeight);
        left: 100%;
        z-index: 2;
      }
    }

    // special handle children styles below

    &:first-child a {
      padding-left: map_get($triangle, width)/2 + 10px;
    }

    @for $i from 1 to $maxBreadcrumbChild {
      &:nth-child(#{$i}) {
        a {
          background-color: breadcrumbColor($i);

          &:after {
            border-left-color: breadcrumbColor($i);
          }

          &:hover {
            background-color: breadcrumbContrast($i);
          }
          &:hover:after {
            border-left-color: breadcrumbContrast($i);
          }
        }
      }
    }

    &:last-child a {
      background: transparent;
      color: map_get($colors, lastText);
      pointer-events: none;
      cursor: default;

      &:before, &:after {
        border-left: map_get($triangle, width) solid transparent;
      }
    }
  }
}
