.blue {
  background-color: #3598dc;
}
.red {
  background-color: #e7505a;
}
.green {
  background-color: #32c5d2;
}
.purple {
  background-color: #8E44AD;
}

// copied from metronic
// dont know why importing whole metronic library will crash my existing css :(
.dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 4px;

  .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 35px;
    padding-left: 15px;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 35px;

    i {
      color: #fff;
      opacity: .1;
      filter: alpha(opacity=10);

      margin-left: -35px;
      font-size: 110px;
      line-height: 110px;
    }
  }

  .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;

    .number {
      padding-top: 25px;
      text-align: right;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: -1px;
      margin-bottom: 0;
      font-weight: 300;

      color: #fff;
    }

    .desc {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);

      text-align: right;
      font-size: 16px;
      letter-spacing: 0;
      font-weight: 300;
    }
  }
}
