<div class="dashboard-stat dashboard-stat-v2 {{ color }}"
     [ngStyle]="{ cursor: cursorStyle }">
  <div class="visual">
    <i class="fa {{ icon }}"></i>
  </div>
  <div class="details">
    <div class="number">
      <span>{{ number }}</span>
    </div>
    <div class="desc">{{ desc }}</div>
  </div>
</div>
