.loading-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(41, 43, 44, 0.5);
  z-index: 9999;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  // css version of spinner lol
  .css-loading-spinner-container {

    background-color: rgba(255, 255, 255, 0.8);
    height: 250px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    color: #666;

    .loading-spinner {
      height: 200px;

      @keyframes lds-dual-ring {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      @-webkit-keyframes lds-dual-ring {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      @keyframes lds-dual-ring_reverse {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }

      @-webkit-keyframes lds-dual-ring_reverse {
        0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
        }
        100% {
          -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
        }
      }

      .lds-dual-ring {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .lds-dual-ring div {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        border: 8px solid #000;
        border-color: #1d3f72 transparent #1d3f72 transparent;
        -webkit-animation: lds-dual-ring 1.5s linear infinite;
        animation: lds-dual-ring 1.5s linear infinite;
      }

      .lds-dual-ring div:nth-child(2) {
        width: 140px;
        height: 140px;
        top: 30px;
        left: 30px;
        border-color: transparent #5699d2 transparent #5699d2;
        -webkit-animation: lds-dual-ring_reverse 1.5s linear infinite;
        animation: lds-dual-ring_reverse 1.5s linear infinite;
      }

      .lds-double-ring {
        width: 200px !important;
        height: 200px !important;
        -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      }

    }
  }

}
