<div class="loading-container">
  <div class="css-loading-spinner-container">
    <div class="loading-spinner">
      <div class="lds-dual-ring">
        <div></div>
        <div></div>
      </div>
    </div>
    <span>{{ title }}  ...</span>
  </div>
</div>
