<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-home-number-widget
      color="blue"
      cursorStyle="pointer"
      icon="fa-mobile"
      [number]="numberOfDevices"
      desc="{{ 'devices' | translate }}"
      (click)="onClickWidgetNavigate('devices')"
    ></app-home-number-widget>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <app-home-number-widget
      color="red"
      cursorStyle="pointer"
      icon="fa-birthday-cake"
      [number]="numberOfRecipes"
      desc="{{ 'recipes' | translate }}"
      (click)="onClickWidgetNavigate('recipes')"
    ></app-home-number-widget>
  </div>
</div>
